{% extends 'base.html' %}

{% block head %}
<title>Sign In</title>
{% endblock %}
    

{% block content %}  
    <!-- /breadcrumb -->
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="{% url 'website:index' %}">Home</a>
      </li>
      <li class="breadcrumb-item active">Sign In</li>
    </ol>

    <!-- //breadcrumb -->
      
      
    <!--/Login-->
<div class="center mt-5">
    <div class="form-group row">
        <div class="login px-4 mx-auto mw-100">
            <h5 class="text-center mb-4">Login Now</h5>
            <form action="{% url 'registration:signin' %}" method="post"> 
                {% csrf_token %}
                <div class="form-group">
                    <label class="mb-2">Username</label>
                    <input
                    type="text"
                    class="form-control"
                    name="username"
                    placeholder="Username"
                    required=""
                    />
                </div>
                <div class="form-group">
                    <label class="mb-2">Password</label>
                    <input
                    type="password"
                    name="password"
                    class="form-control"
                    placeholder="Password"
                    required=""
                />
            </div>
            <div class="form-group">
                <label class="my-2">{{form.captcha}}</label>
            </div>
            {% if next %}
                <input type="hidden" name="next" value="{{next}}">
            {% else %}
                <input type="hidden" name="next" value="{{request.path}}">
            {% endif %}
            <button type="submit" class="btn btn-primary submit mb-4">
            Sign In
            </button>
            <p class="text-center pb-4">
                <a
                    href="{% url 'registration:signup' %}"
                >
                Don't have an account?</a
            >
            </p>
            <p class="text-center pb-4">
                <a
                    href="{% url 'registration:reset_password' %}"
                >
                Forget your password? Click here to reset password</a
                >
            </p>
            </form>
        </div>
    </div>
</div>
<!--//Login-->









{% endblock %}
