{% extends 'base.html' %} {% block head %}
<title>Sign Up</title>
{% endblock %} {% block content %}
<!-- /breadcrumb -->
<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a href="{% url 'website:index' %}">Home</a>
  </li>
  <li class="breadcrumb-item active">Sign Up</li>
</ol>

<!-- //breadcrumb -->

<!--/Register-->

<div class="center mt-5">
  <div class="form-group row">
    <div class="login px-4 mx-auto mw-100">
      <h5 class="text-center mb-4">Register Now</h5>
      <hr>
      <form action="{% url 'registration:signup' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
          <label>First name</label>
          <input
            type="text"
            class="form-control"
            placeholder="First Name"
            name="first_name"
          />
        </div>
        <div class="form-group">
          <label>Last name</label>
          <input
            type="text"
            class="form-control"
            placeholder="Last Name"
            name="last_name"
          />
        </div>
        <div class="form-group">
          <label>Username</label>
          <input
            type="text"
            class="form-control"
            placeholder="Username"
            required=""
            name="username"
          />
        </div>
        <div class="form-group">
          <label>Email</label>
          <input
            type="email"
            class="form-control"
            placeholder="Email"
            required=""
            name="email"
          />
        </div>
        <div class="form-group">
          <label class="mb-2">Password</label>
          <input
            type="password"
            class="form-control"
            placeholder="Password"
            required=""
            name="password1"
          />
        </div>
        <div class="form-group">
          <label>Confirm Password</label>
          <input
            type="password"
            class="form-control"
            placeholder="Confirm Password"
            required=""
            name="password2"
          />
        </div>
        <div class="form-group">
          <label class="my-2">{{form.captcha}}</label>
        </div>
        <input type="hidden" name="next" value="{{next}}" />
        <button type="submit" class="btn btn-primary submit mb-4">
          Register
        </button>
        <p class="text-center pb-4">
          <a>By clicking Register, I agree to your terms</a>
        </p>
      </form>
    </div>
  </div>
</div>
<!--//Register-->

{% endblock %}
