{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>Home</title>
{% endblock %}


  {% block content %}


    <!-- banner-bottom-w3layouts -->
    <div class="banner-bottom-w3layouts py-lg-5 py-3">
      <div class="container">
        <div class="inner-sec-w3ls-agileits py-lg-5 py-3">
          <h4 class="sub-tittle text-uppercase text-center">What we do</h4>
          <h3 class="tittle text-center mb-lg-5 mb-3">Latest Posts From Our Blog</h3>
          <ul class="grid cs-style-5 row">
            <li class="grid-info-img">
              <figure>
                <img src="{% static 'images/g1.jpg' %}" class="img-fluid" alt="img03" />
                <figcaption>
                  <h3>Vegitables</h3>
                  <span>Lorem ipsum </span>
                  <a href="{% url 'blog:single' pid=1%}">Gallery</a>
                </figcaption>
              </figure>
            </li>
            <li class="grid-info-img">
              <figure>
                <img src="{% static 'images/g2.jpg' %}" class="img-fluid" alt="img03" />
                <figcaption>
                  <h3>Berries</h3>
                  <span>Lorem ipsum </span>
                  <a href="{% url 'blog:single' pid=1%}">Gallery</a>
                </figcaption>
              </figure>
            </li>
            <li class="grid-info-img">
              <figure>
                <img src="{% static 'images/g3.jpg' %}" class="img-fluid" alt="img03" />
                <figcaption>
                  <h3>Organic Dairy</h3>
                  <span>Lorem ipsum </span>
                  <a href="{% url 'blog:single' pid=1%}">Gallery</a>
                </figcaption>
              </figure>
            </li>
            <li class="grid-info-img">
              <figure>
                <img src="{% static 'images/g4.jpg' %}" class="img-fluid" alt="img03" />
                <figcaption>
                  <h3>Seeds</h3>
                  <span>Lorem ipsum </span>
                  <a href="{% url 'blog:single' pid=1%}">Gallery</a>
                </figcaption>
              </figure>
            </li>
            <li class="grid-info-img">
              <figure>
                <img src="{% static 'images/g5.jpg' %}" class="img-fluid" alt="img03" />
                <figcaption>
                  <h3>Herbs</h3>
                  <span>Jacob Cummings</span>
                  <a href="{% url 'blog:single' pid=1%}">Gallery</a>
                </figcaption>
              </figure>
            </li>
            <li class="grid-info-img">
              <figure>
                <img src="{% static 'images/g6.jpg' %}" class="img-fluid" alt="img03" />
                <figcaption>
                  <h3>Farm</h3>
                  <span>Lorem ipsum </span>
                  <a href="{% url 'blog:single' pid=1%}">Gallery</a>
                </figcaption>
              </figure>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!--// banner-bottom-w3layouts -->
    <!-- /bottom-last -->
    <section class="bottom-last">
      <div class="bottom-bg py-5 bs-slider-overlay text-left">
        <div class="container">
          <h3 class="tittle text-left">TAKE A LOOK AT OUR BLOG</h3>
          <p class="text-white mb-4">
            Simply dummy text of the printing and typesetting industry. Lorem
            Ipsum has been the industry's standard dummy text ever since the
            1500s.Lorem ipsum dolor sit amet Neque porro quisquam est qui
            dolorem Lorem int ipsum dolor sit amet.
          </p>
          <div class="log-in pb-md-5 pb-3">
            <a class="hover-2 btn text-uppercase" href="{% url 'blog:index' %}"
              >Blog</a
            >
          </div>
        </div>
      </div>
    </section>
    <!-- //bottom-last -->
    <!-- /story -->
    <section class="freebies bg-light pt-md-5 pt-3">
      <div class="container freebies-intro pt-md-5">
        <div class="row">
          <div class="col-md-12">
            <h4 class="sub-tittle text-uppercase">Our Events</h4>
            <h3 class="tittle">Popular Posts</h3>
          </div>
        </div>
        <div class="row mt-4 mt-3">
          <div class="col-md-6 news-content-left">
            <p>
              Lorem ipsum dolor sit amet Neque porro quisquam est qui dolorem
              Lorem int ipsum dolor sit amet when an unknown printer took a
              galley of type.Vivamus id tempor felis. Cras sagittis mi sit amet
              malesuada mollis. Mauris porroinit consectetur cursus tortor vel
              interdum.
            </p>
          </div>
          <div class="col-md-6 news-content-right">
            <p>
              Lorem ipsum dolor sit amet Neque porro quisquam est qui dolorem
              Lorem int ipsum dolor sit amet when an unknown printer took a
              galley of type.Vivamus id tempor felis. Cras sagittis mi sit amet
              malesuada mollis. Mauris porroinit consectetur cursus tortor vel
              interdum.
            </p>
          </div>
        </div>
      </div>
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6 news-grid">
            <article class="item news fadeIn">
              <figure class="news-overlay">
                <figcaption class="overlay">
                  <div class="like-share-wrapper">
                    <ul>
                      <li>
                        <div class="like-button-wrapper">
                          <a href="#" class="like_button"
                            ><i class="far fa-heart"></i
                          ></a>
                          <span class="count">98</span>
                        </div>
                      </li>
                    </ul>
                  </div>
                  <div class="freebie-content">
                    <span class="date">13/05/2018</span>
                    <h4>Modern Design Template</h4>
                    <div class="group log-in">
                      <a class="hover-2 btn text-uppercase" href="{% url 'blog:single' pid=1%}"
                        >Read More</a
                      >
                    </div>
                  </div>
                </figcaption>
                <img src="{% static 'images/n1.jpg' %}" class="img-fluid" alt="img03" />
              </figure>
            </article>
          </div>
          <div class="col-md-6 news-grid">
            <article class="item news fadeIn">
              <figure class="news-overlay">
                <figcaption class="overlay">
                  <div class="like-share-wrapper">
                    <ul>
                      <li>
                        <div class="like-button-wrapper">
                          <a href="#" class="like_button"
                            ><i class="far fa-heart"></i
                          ></a>
                          <span class="count">57</span>
                        </div>
                      </li>
                    </ul>
                  </div>
                  <div class="freebie-content">
                    <span class="date">30/05/2018</span>
                    <h4>Modern Design Template</h4>
                    <div class="group log-in">
                      <a class="hover-2 btn text-uppercase" href="{% url 'blog:single' pid=1%}"
                        >Read More</a
                      >
                    </div>
                  </div>
                </figcaption>
                <img src="{% static 'images/n2.jpg' %}" class="img-fluid" alt="img03" />
              </figure>
            </article>
          </div>
          <div class="col-md-6 news-grid">
            <article class="item news fadeIn">
              <figure class="news-overlay">
                <figcaption class="overlay">
                  <div class="like-share-wrapper">
                    <ul>
                      <li>
                        <div class="like-button-wrapper">
                          <a href="#" class="like_button"
                            ><i class="far fa-heart"></i
                          ></a>
                          <span class="count">49</span>
                        </div>
                      </li>
                    </ul>
                  </div>
                  <div class="freebie-content">
                    <span class="date">03/06/2018</span>
                    <h4>Modern Design Template</h4>
                    <div class="group log-in">
                      <a class="hover-2 btn text-uppercase" href="{% url 'blog:single' pid=1%}"
                        >Read More</a
                      >
                    </div>
                  </div>
                </figcaption>
                <img src="{% static 'images/n3.jpg' %}" class="img-fluid" alt="img03" />
              </figure>
            </article>
          </div>
          <div class="col-md-6 news-grid">
            <article class="item news fadeIn">
              <figure class="news-overlay">
                <figcaption class="overlay">
                  <div class="like-share-wrapper">
                    <ul>
                      <li>
                        <div class="like-button-wrapper">
                          <a href="#" class="like_button"
                            ><i class="far fa-heart"></i
                          ></a>
                          <span class="count">85</span>
                        </div>
                      </li>
                    </ul>
                  </div>
                  <div class="freebie-content">
                    <span class="date">30/07/2018</span>
                    <h4>Modern Design Template</h4>
                    <div class="group log-in">
                      <a class="hover-2 btn text-uppercase" href="{% url 'blog:single' pid=1%}"
                        >Read More</a
                      >
                    </div>
                  </div>
                </figcaption>
                <img src="{% static 'images/n4.jpg' %}" class="img-fluid" alt="img03" />
              </figure>
            </article>
          </div>
        </div>
      </div>
    </section>
    <!-- //story -->
    {% include 'website/website-newsletter.html' %}

    {% endblock %}