{% extends 'base.html' %}
{% load static %}
{% load  blog_tags %}
{% load humanize %}

{% block head %} 
    <title>
      {{post.title}}
    </title>
{% endblock %}


{% block content %}
<!-- /breadcrumb -->
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="{% url 'website:index' %}">Home</a>
      </li>
      <li class="breadcrumb-item">
        <a href="{% url 'blog:index' %}">Blog</a>
      </li>
      <li class="breadcrumb-item active">{{post.title}}</li>
    </ol>
    <!-- //breadcrumb -->
    <section class="banner-bottom-w3layouts py-lg-5 py-md-5 py-3">
      <div class="container">
        <div class="inner-sec-w3ls-agileits py-lg-5 py-3">
          <h3 class="tittle text-center mb-md-5 mb-4">{{post.title}}</h3>
          <div class="row">
            <!--left-->
            <div class="col-lg-8 left-blog-info text-left">
              <div class="blog-grid-top">
                <div class="b-grid-top">
                  <div class="blog_info_left_grid">
                      <img src="{{post.image.url}}" class="img-fluid" alt="{{post.title}}" />
                  </div>
                </div>
                <br>
                <span class="entry-date">Published on : {{ post.published_date }}  ({{post.published_date|naturaltime}})</span>
                <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                <span class="entry-date">Author : {{ post.author.username }}</span>
                <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                <span class="entry-date">{{ post.counted_views }} view{{post.counted_views|pluralize}}</span>
                <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                
                {% if post.category %}
                  <span class="entry-date">Categories : </span>
                  {% for cat in post.category.all %}
                    <span class="entry-date"><a style="color: #222222;" href="{% url 'blog:category' cat_name=cat.name %}">{{ cat.name }}</a></span>
                    {% if not forloop.last %}
                      <span class="entry-date">, </span>
                    {% endif %}
                  {% endfor %}
                {% endif %}

                <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>

                {% if post.tags %}
                  <span class="entry-date">Tags : </span>
                  {% for tag in post.tags.all %}
                    <span class="entry-date"><a style="color: #222222;" href="{% url 'blog:tag' tag_name=tag.name %}">{{ tag.name }}</a></span>
                    {% if not forloop.last %}
                      <span class="entry-date">, </span>
                    {% endif %}
                  {% endfor %}
                {% endif %}
                <hr>

                <h3>
                  <a href="{% url 'blog:single' pid=post.id %}">{{post.title}}</a>
                </h3>
                <p>
                  {{post.content|safe}}
                </p>
              </div>

              <div class="comment-top">
                <h4>Comments</h4>
                {% for comment in comments %}
                <div class="media">
                  <img src="{% static 'images/t1.jpg' %}" alt="" class="img-fluid rounded" />
                  <div class="media-body">
                    <h5 class="mt-0">{{comment.name}}</h5>
                    <p>
                      {{comment.message}}
                    </p>
                  </div>
                </div>
                {% empty %}
                <div class="media-body">
                  <h5 class="mt-0">No comment yet, be the first!</h5>
                </div>
                {% endfor %}
              </div>
              <br>
              <hr>
              <div class="comment-top">
                <h4>Leave a Comment</h4>
                <div class="comment-bottom">
                  <form action="#" method="post">
                    <input
                      class="form-control"
                      type="text"
                      name="Name"
                      placeholder="Name"
                      required=""
                    />
                    <input
                      class="form-control"
                      type="email"
                      name="Email"
                      placeholder="Email"
                      required=""
                    />

                    <input
                      class="form-control"
                      type="text"
                      name="Subject"
                      placeholder="Subject"
                      required=""
                    />

                    <textarea
                      class="form-control"
                      name="Message"
                      placeholder="Message..."
                      required=""
                    ></textarea>
                    <button type="submit" class="btn btn-primary submit">
                      Submit
                    </button>
                  </form>
                </div>
              </div>
            </div>

            <!--//left-->
            <!--right-->
            <aside class="col-lg-4 right-blog-con text-right">
              <div class="right-blog-info text-left">

                {% include 'blog/blog-tags.html' %}
                {% include 'blog/blog-newsletter.html' %}
                {% categories_tag %}
                
                {% top_stories_tag %}
                {% recent_post_tag %}
              </div>
            </aside>
            <!--//right-->
          </div>
        </div>
      </div>
    </section>
    <!--/single-->
{% endblock %}