{% load static %}
<!DOCTYPE html>
<html lang="zxx">
  <head>
    {% block head %} {% endblock %}

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <meta name="keywords" content="Simple Blog Website" />
    <script>
      addEventListener(
        "load",
        function () {
          setTimeout(hideURLbar, 0);
        },
        false
      );

      function hideURLbar() {
        window.scrollTo(0, 1);
      }
    </script>
    {% block CSS %}
    {% endblock %}
    <link
      href="{% static 'css/bootstrap.css' %}"
      rel="stylesheet"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="{% static 'css/component.css' %}"
      type="text/css"
      media="all"
    />
    <link
      href="{% static 'css/style.css' %}"
      rel="stylesheet"
      type="text/css"
    />
    <link href="{% static 'css/single.css' %}" rel="stylesheet" type="text/css" />
    <link
      rel="stylesheet"
      href="{% static 'css/owl.theme.css' %}"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="{% static 'css/owl.carousel.css' %}"
      type="text/css"
      media="screen"
      property=""
    />
    <link
      href="{% static 'css/minimal-slider.css' %}"
      rel="stylesheet"
      type="text/css"
    />
    <link href="{% static 'css/fontawesome-all.css' %}" rel="stylesheet" />
    <link
      href="//fonts.googleapis.com/css?family=Josefin+Sans:100,100i,300,300i,400,400i,600,600i,700,700i"
      rel="stylesheet"
    />
    <link
      href="//fonts.googleapis.com/css?family=BenchNine:300,400,700"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="mian-content">
      <div class="header-top-w3layouts-agile">
        <div class="top-head-wthree text-left">
          <div class="row top-content-info">
            <div class="col-lg-6 top-content-left">
              <ul class="header-info-w3ls">
                <li>
                  <i class="far fa-envelope"></i>
                  <a href="#">mail@example.com</a>
                </li>
                <li>
                  <i class="fas fa-phone"></i>
                  <a href="tel:+02223688199">+0222 3688 199</a>
                </li>
                <li><i class="far fa-clock"></i> Mon – Fri : 9:00 -17:00</li>
              </ul>
            </div>
            <div class="col-lg-6 top-content-right">
              <div class="land-gd">
                <div class="hd-sc-one">
                  <div class="land-image text-center">
                    <i class="fas fa-map-signs"></i>
                  </div>
                  <div class="land-content">
                    <h4>The Best Landscaping</h4>
                  </div>
                </div>
              </div>
              <div class="land-gd">
                <div class="hd-sc-one">
                  <div class="land-image text-center">
                    <i class="fas fa-shield-alt"></i>
                  </div>
                  <div class="land-content">
                    <h4>Certified Company</h4>
                  </div>
                  <div class="clearfix"></div>
                </div>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-3 top-social-icons text-center">
              <ul class="social-icons">
                <li class="mr-1">
                  <a href="#"><span class="fab fa-facebook-f"></span></a>
                </li>
                <li class="mx-1">
                  <a href="#"><span class="fab fa-twitter"></span></a>
                </li>
                <li class="mx-1">
                  <a href="#"><span class="fab fa-google-plus-g"></span></a>
                </li>
                <li class="mx-1">
                  <a href="#"><span class="fab fa-linkedin-in"></span></a>
                </li>
              </ul>
            </div>
            <div class="col-md-6 logo text-center">
              <h1>
                <a class="navbar-brand" href="{% url 'website:index' %}">
                  <i class="fas fa-leaf"></i>Simple Blog Website</a
                >
              </h1>
            </div>
            <div class="col-md-3 login-right-img text-center">
              <a
                class="request text-uppercase"
                href="#"
                data-toggle="modal"
                data-target="#exampleModalCenter"
                >Sign In</a
              >
              <a
                class="request text-uppercase"
                href="#"
                data-toggle="modal"
                data-target="#exampleModalCenter2"
                >Sign Up</a
              >
            </div>
          </div>
        </div>
        <div class="header-bg">
          <div class="container">
            <header>
              <nav class="navbar navbar-expand-lg navbar-light">
                <button
                  class="navbar-toggler navbar-toggler-right mx-auto"
                  type="button"
                  data-toggle="collapse"
                  data-target="#navbarSupportedContent"
                  aria-controls="navbarSupportedContent"
                  aria-expanded="false"
                  aria-label="Toggle navigation"
                >
                  <span class="navbar-toggler-icon"></span>
                </button>

                <div
                  class="collapse navbar-collapse"
                  id="navbarSupportedContent"
                >
                  <ul class="navbar-nav mr-lg-auto text-left">
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'website:index' %}"
                        >Home
                        <span class="sr-only">(current)</span>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'website:about' %}">About</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'blog:index' %}">Blog</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'website:contact' %}">Contact</a>
                    </li>
                  </ul>
                <form
                    action="{% url 'blog:search' %}"
                    method="get"
                    class="form-inline my-2 my-lg-0 header-search"
                  >
                  <input
                    class="form-control"
                    type="search"
                    placeholder="Search here..."
                    name="Search"
                    required=""
                  />
                  <button class="btn btn1 my-2 my-sm-0" type="submit">
                    <i class="fas fa-search"></i>
                  </button>
                </form>
                </div>
              </nav>
            </header>
          </div>
        </div>
      </div>
    </div>
    <!-- end of main image slider container -->
    <div class="inner-page"></div>

    {% block content %}
    {% endblock %}

      <!--footer -->
      <footer class="footer-emp-wthree bg-dark dotts py-lg-5 py-3">
        <div class="container">
          <div class="row footer-top">
            <div class="col-lg-4 footer-grid-w3ls">
              <div class="footer-title">
                <h3>About Us</h3>
              </div>
              <div class="footer-text">
                <p>
                  Curabitur non nulla sit amet nislinit tempus convallis quis ac
                  lectus. lac inia eget consectetur sed, convallis at tellus.
                  Nulla porttitor accumsana tincidunt.
                </p>
                <ul class="social-icons">
                  <li class="mr-1">
                    <a href="#"><span class="fab fa-facebook-f"></span></a>
                  </li>
                  <li class="mx-1">
                    <a href="#"><span class="fab fa-twitter"></span></a>
                  </li>
                  <li class="mx-1">
                    <a href="#"><span class="fab fa-google-plus-g"></span></a>
                  </li>
                  <li class="mx-1">
                    <a href="#"><span class="fab fa-linkedin-in"></span></a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-lg-4 footer-grid-w3ls">
              <div class="footer-title">
                <h3>Get in touch</h3>
              </div>
              <div class="contact-info">
                <h4>Location :</h4>
                <p>0926k 4th block building, king Avenue, New York City.</p>
                <div class="phone">
                  <h4>Contact :</h4>
                  <p>Phone : +121 098 8907 9987</p>
                  <p>
                    Email :
                    <a href="#">info@example.com</a>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-4 footer-grid-w3ls">
              <div class="footer-title">
                <h3>Quick Links</h3>
              </div>
              <ul class="links">
                <li>
                  <a href="{% url 'website:index' %}">Home</a>
                </li>
                <li>
                  <a href="{% url 'website:about' %}">About</a>
                </li>
              </ul>
              <ul class="links">
                <li>
                  <a href="{% url 'website:contact' %}">Contact</a>
                </li>
                <li>
                  <a href="{% url 'blog:index' %}">Blog</a>
                </li>
              </ul>
  
              <div class="clearfix"></div>
            </div>
          </div>
          <div class="copyright-w3 mt-4">
            <p class="copy-right text-center">
              &copy; 2018 Arable. All Rights Reserved | Design by
              <a href="http://w3layouts.com/"> W3layouts </a>
            </p>
          </div>
        </div>
      </footer>
      <!-- //footer -->
  
      <!--model-forms-->
      <!--/Login-->
      <div
        class="modal fade"
        id="exampleModalCenter"
        tabindex="-1"
        role="dialog"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header text-center">
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="login px-4 mx-auto mw-100">
                <h5 class="text-center mb-4">Login Now</h5>
                <form action="#" method="post">
                  <div class="form-group">
                    <label class="mb-2">Email address</label>
                    <input
                      type="email"
                      class="form-control"
                      id="exampleInputEmail1"
                      aria-describedby="emailHelp"
                      placeholder=""
                      required=""
                    />
                    <small id="emailHelp" class="form-text text-muted"
                      >We'll never share your email with anyone else.</small
                    >
                  </div>
                  <div class="form-group">
                    <label class="mb-2">Password</label>
                    <input
                      type="password"
                      class="form-control"
                      id="exampleInputPassword1"
                      placeholder=""
                      required=""
                    />
                  </div>
                  <div class="form-check mb-2">
                    <input
                      type="checkbox"
                      class="form-check-input"
                      id="exampleCheck1"
                    />
                    <label class="form-check-label" for="exampleCheck1"
                      >Check me out</label
                    >
                  </div>
                  <button type="submit" class="btn btn-primary submit mb-4">
                    Sign In
                  </button>
                  <p class="text-center pb-4">
                    <a
                      href="#"
                      data-toggle="modal"
                      data-target="#exampleModalCenter2"
                    >
                      Don't have an account?</a
                    >
                  </p>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--//Login-->
      <!--/Register-->
      <div
        class="modal fade"
        id="exampleModalCenter2"
        tabindex="-1"
        role="dialog"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header text-center">
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="login px-4 mx-auto mw-100">
                <h5 class="text-center mb-4">Register Now</h5>
                <form action="#" method="post">
                  <div class="form-group">
                    <label>First name</label>
  
                    <input
                      type="text"
                      class="form-control"
                      id="validationDefault01"
                      placeholder=""
                      required=""
                    />
                  </div>
                  <div class="form-group">
                    <label>Last name</label>
                    <input
                      type="text"
                      class="form-control"
                      id="validationDefault02"
                      placeholder=""
                      required=""
                    />
                  </div>
  
                  <div class="form-group">
                    <label class="mb-2">Password</label>
                    <input
                      type="password"
                      class="form-control"
                      id="password1"
                      placeholder=""
                      required=""
                    />
                  </div>
                  <div class="form-group">
                    <label>Confirm Password</label>
                    <input
                      type="password"
                      class="form-control"
                      id="password2"
                      placeholder=""
                      required=""
                    />
                  </div>
  
                  <button type="submit" class="btn btn-primary submit mb-4">
                    Register
                  </button>
                  <p class="text-center pb-4">
                    <a href="#">By clicking Register, I agree to your terms</a>
                  </p>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--//Register-->
  
      <!--//model-form-->
      <!-- js -->
      <script src="{% static 'js/jquery-2.2.3.min.js' %}"></script>
      <script src="{% static 'js/toucheffects.js' %}"></script>
      <script src="{% static 'js/modernizr.custom.js' %}"></script>
      <!-- carousel -->
      <script src="{% static 'js/owl.carousel.js' %}"></script>
      <script>
        $(document).ready(function () {
          $(".owl-carousel").owlCarousel({
            loop: true,
            margin: 10,
            responsiveClass: true,
            responsive: {
              0: {
                items: 1,
                nav: true,
              },
              600: {
                items: 1,
                nav: false,
              },
              900: {
                items: 1,
                nav: false,
              },
              1000: {
                items: 2,
                nav: true,
                loop: false,
                margin: 20,
              },
            },
          });
        });
      </script>
      <!-- //carousel -->
      <script>
        $(document).ready(function () {
          $(".dropdown").hover(
            function () {
              $(".dropdown-menu", this).stop(true, true).slideDown("fast");
              $(this).toggleClass("open");
            },
            function () {
              $(".dropdown-menu", this).stop(true, true).slideUp("fast");
              $(this).toggleClass("open");
            }
          );
        });
      </script>
      <!-- //dropdown nav -->
      <!-- stats -->
      <script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
      <script src="{% static 'js/jquery.countup.js' %}"></script>
      <script>
        $(".counter").countUp();
      </script>
      <!-- //stats -->
      <!-- password-script -->
      <script>
        window.onload = function () {
          document.getElementById("password1").onchange = validatePassword;
          document.getElementById("password2").onchange = validatePassword;
        };
  
        function validatePassword() {
          var pass2 = document.getElementById("password2").value;
          var pass1 = document.getElementById("password1").value;
          if (pass1 != pass2)
            document
              .getElementById("password2")
              .setCustomValidity("Passwords Don't Match");
          else document.getElementById("password2").setCustomValidity("");
          //empty string means no validation error
        }
      </script>
      <!-- //password-script -->
  
      <!--/ start-smoth-scrolling -->
      <script src="{% static 'js/move-top.js' %}"></script>
      <script src="{% static 'js/easing.js' %}"></script>
      <script>
        jQuery(document).ready(function ($) {
          $(".scroll").click(function (event) {
            event.preventDefault();
            $("html,body").animate(
              {
                scrollTop: $(this.hash).offset().top,
              },
              900
            );
          });
        });
      </script>
      <script>
        $(document).ready(function () {
          /*
                                      var defaults = {
                                            containerID: 'toTop', // fading element id
                                          containerHoverID: 'toTopHover', // fading element hover id
                                          scrollSpeed: 1200,
                                          easingType: 'linear' 
                                       };
                                      */
  
          $().UItoTop({
            easingType: "easeOutQuart",
          });
        });
      </script>
      <!--// end-smoth-scrolling -->
      <!-- /js -->
      <script src="{% static 'js/bootstrap.js' %}"></script>
      <!-- //js -->
    </body>
  </html>
  