{% extends 'base.html' %} {% block head %}
<title>Maintenance</title>
{% endblock %} {% block content %}

<div class="center mt-5">
  <div class="row">
    <div class="login px-4 mx-auto mw-100">
      <h1 class="text-center mt-4 mb-4">Site Is Under Maintenance</h1>
      <h2 class="text-center mb-4">We&rsquo;ll be back soon!</h2>
      <hr />
      <p>
        Sorry for the inconvenience but we&rsquo;re performing some maintenance
        at the moment. If you need to you can always
        <a href="#">contact us</a>, otherwise we&rsquo;ll be back online
        shortly!
      </p>
      <p>&mdash; The Team</p>
      <hr />
      <br />
    </div>
  </div>
</div>

{% endblock %}
